
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: aliceblue;
}

a{
    color: blue;
}


body{
    background-color: #1e1e1c;
}


form {
    border: 3px solid #f1f1f1;
    margin: 400px;
    margin-top: 50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* style set for all buttons */
button {
    background-color: #FFCC00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* hover */
button:hover {
    opacity: 0.8;
}

/* unique cancel btn */
.cancelbtn {    
    width: auto;
    padding: 10px 18px;
    background-color: #000000;
}

/* image center */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* timely image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* padding */
.container {
    padding: 16px;
}

/* forgot password */
span.psw {
    float: right;
    padding-top: 16px;
    color: #1e1e1c;
}

/*scaling size */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
